In [51]:
import statsmodels
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
import matplotlib.pyplot as plt
from statsmodels.stats import outliers_influence
from patsy import dmatrices
%matplotlib inline

df_default = pd.read_csv('C:/Users/Nicholaus.Chadeayne/Desktop/Credit.csv')

In [52]:
df_default.describe()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000
std,115.614301,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877
min,1.000000,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000
25%,100.750000,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000
50%,200.500000,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000
75%,300.250000,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000
max,400.000000,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000

In [53]:
df_default.head()

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [54]:
results = smf.ols('Balance ~ Age + Rating + Limit', data=df_default).fit()
y, X = dmatrices('Balance ~ Age + Rating + Limit', df_default, return_type='dataframe')

# Inspect the results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Balance   R-squared:                       0.754
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     403.7
Date:                Tue, 18 Jul 2017   Prob (F-statistic):          4.84e-120
Time:                        19:58:52   Log-Likelihood:                -2739.2
No. Observations:                 400   AIC:                             5486.
Df Residuals:                     396   BIC:                             5502.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -259.5175     55.882     -4.644      0.000    -369.380    -149.655
Age           -2.3458      0.669     -3.508      0.001      -3.660      -1.031
Rating         2.3105      0.940      2.459      0.014       0.463       4.158
Limit          0.0190      0.063      0.302      0.763      -0.105       0.143
==============================================================================
Omnibus:                       20.764   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.727
Skew:                           0.360   Prob(JB):                     4.74e-08
Kurtosis:                       4.227   Cond. No.                     2.58e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.58e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [56]:
#a = df_default.Balance.astype(float)
#b = df_default.Age.astype(float)
#c = df_default.Rating.astype(float)
#d = df_default.Limit.astype(float)
#print(c)
#ck=np.array([a,b,c,d])
#print(ck[2])
#outliers_influence.variance_inflation_factor(ck, 0)
vif = pd.DataFrame()
vif["VIF Factor"] = [outliers_influence.variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns

In [57]:
print(vif)

   VIF Factor   features
0   23.802955  Intercept
1    1.011385        Age
2  160.668301     Rating
3  160.592880      Limit